<!-- tour-package.component.html -->
<div class="package-card container">
  <!-- Skeleton loader -->
  <div class="content" *ngIf="isLoading">
    <div class="skeleton-loader">
      <div class="skeleton-title"></div>
      <div class="skeleton-text"></div>
      <div class="skeleton-button"></div>
    </div>
  </div>

  <!-- Error state -->
  <div class="content error-state" *ngIf="error">
    <p>{{ error }}</p>
  </div>

  <!-- Actual content -->
  <div class="content" *ngIf="!isLoading && !error && location">
    <h2>{{ location.name }}</h2>
    <p>{{ getFirstLine(location.content) }} <a href="javascript:void(0)" (click)="openModal()">Read more</a> </p>
    <!-- <button class="cta-button" (click)="openModal()">Read More</button> -->
  </div>
</div>

<!-- Modal -->
<div class="modal" [class.show]="showModal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>{{ location?.name }}</h2>
      <button class="close-button" (click)="closeModal()">×</button>
    </div>
    <div class="modal-body" *ngIf="location">
      <div [innerHTML]="location.content"></div>
    </div>
  </div>
</div>